.about-page {
  background: #f9f6f1;
}

/* HERO */
.about-hero {
  background: linear-gradient(to right, #3e2723, #5d4037);
  color: white;
  padding: 100px 10%;
  text-align: center;
}

.about-hero h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.about-hero p {
  font-size: 18px;
  opacity: 0.9;
}

/* VIDEO */
.about-video-section {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.about-video-player {
  width: 55%;          /* تصغير العرض */
  max-width: 600px;    /* حجم متوسط */
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}



/* INFO */
.about-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
  gap: 30px;
  padding: 0 10% 100px;
}

.info-card {
  background: white;
  padding: 35px;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1);
}

.info-card h3 {
  color: #3e2723;
  margin-bottom: 15px;
}

.info-card p {
  color: #555;
  line-height: 1.7;
}
